*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-weight: 400;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #000;
}
/* ----------------------Sidebar Starts  */
aside {
  width: 300px;
  height: 100%;
  padding: 10px;
}
.sidebar {
  width: 100%;
  max-height: calc(100% - 20px);
  padding: 10px;
  overflow: hidden;
}
.logo_menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  height: 40px;
}

.logo_menu button {
  background: transparent;
  border-style: none;
}

.logo img {
  width: 130px;
}
i.icon-primary {
  font-size: 20px;
  color: white;
}
.sidebar ul {
  color: white;
}
.sidebar ul li {
  list-style: none;
}

.sidenav_scroll {
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  width: 100%;
}

.sidebar ul li a {
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 10px;
  color: white;
  border-radius: 10px;
}
.sidebar ul li a .user-profile {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
.sidebar ul li a:hover {
  background: #5d5d5d36;
}
icon-secondary {
  color: red;
}
hr {
  color: rgb(128, 126, 126);
}
.title {
  padding: 10px 20px;
  font-weight: bold;
}
/* ---------------Sidebar Ends-------------------------- */
main {
  width: 100%;
  height: 100%;
  background: green;
  overflow: hidden;
}
/* -------------------Topnav-------------------------- */
main .topnav {
  width: 100%;
  background: #000;
  height: 120px;
  /* border-bottom: 2px solid rgb(152, 146, 146); */
}
.topnav .nav {
  height: 80px;
  display: flex;
  align-items: center;
}
.search-container {
  width: calc(100% - 350px);
  height: 100%;
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: end;
}
.search-container button {
  width: 60px;
  border-style: none;
  background: #8a8a8a71;
}
.search_item {
  display: flex;
  border: 2px solid #c2c2c271;
  overflow: hidden;
  border-radius: 30px;
}

.search_item input {
  width: 400px;
  background: rgb(19, 18, 18);
  backdrop-filter: blur(10px);
  border-top: transparent;
  border-bottom: transparent;
  border-left: transparent;
  border-right: 2px solid #c2c2c271;
  color: white;
  padding: 8px;
  font-size: 14px;
  outline: none;
}
.voice_search {
  width: 40px;
  height: 40px;
  background: #8a8a8a71;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.nav_items {
  width: 350px;
  display: flex;
  justify-content: end;
  padding: 10px;
  gap: 30px;
}
.nav_items button {
  background: transparent;
  border-style: none;
  cursor: pointer;
}
.nav_items .user_profile {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  background: rgb(112, 40, 52);
  border-radius: 50%;
}
.nav_items .user_profile a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}
.nav_scroll_options {
  display: flex;
  gap: 20px;
  color: #fff;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.nav_scroll_options div {
  padding: 6px 20px;
  border-radius: 20px;
  background: #8a8a8a71;
}
.nav_scroll_options div a {
  color: #fff;
  font-size: 14;
  text-decoration: none;
}
.nav_scroll_options div:nth-child(1) {
  background: white;
  color: #000;
}
/* ------------------Topnav Ends-------------------------- */
main .content {
  width: 100%;
  height: calc(100% - 120px);
  max-height: calc(100% - 120px);
  overflow-y: scroll;
  min-height: 1000px;
  background: black;
}

main .content .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
  margin-top: 40px;
  padding: 10px;
  margin-bottom: 300px;
}

.content .boxes .boix {
  height: 350px;
  width: 100%;
  color: white;

  font-size: 12px;
}
.boix .video_space {
  width: 100%;
  height: 228px;
  overflow: hidden;
  border-radius: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_space img {
  width: 406px;
  overflow: hidden;
  height: 228px;
}
.video_space video {
  width: 100%;
  /* height: 300px; */
}
.vid_user .user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.vid_user .user img {
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.caption-box {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.vid-title h4 {
  font-size: 16px;
}
.vid-content .small {
  color: rgb(70, 64, 64);
}
.boix {
  cursor: pointer;
}
.small {
  color: rgb(144, 144, 144);
  font-size: 14px;
}
